<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Budgt — Regain Control Over Your Money</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
    <!-- Here Maps API -->
    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<!-- Reload Button & Account Settings -->
<!-- Links to reload the list of transaction; and the link to user account settings -->
<div class="container">
    <center>
        <div class="float-left">
            <a href="">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <b>Home Feed</b>
        <div class="float-right" style="cursor: pointer;">
            <a href="./account_settings.html">
                <i class="fas fa-user"></i>
            </a>
        </div>
    </center>
</div>

<!-- Wallet Balance -->
<div id="financial_accounts">
    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="0">
        <ol class="carousel-indicators">
            <li v-for="a in accounts" data-target="#carouselExampleIndicators" v-bind:data-slide-to="accounts.indexOf(a)" class=""></li>
            <li data-target="#carouselExampleIndicators" v-bind:data-slide-to="accounts.length + 1"></li>
        </ol>
        <div class="carousel-inner">
            <div v-for="a in accounts" class="carousel-item" v-bind:class="accounts.indexOf(a) !== 0 ? '' : 'active'">
                <div class="card text-white mb-3 mx-auto" v-bind:class="'bg-' + a.color" style="max-width: 75%; height: 8em;">
                    <div class="card-header">
                        <center>
                            <div class="float-left">
                                <b style="color: black;">{{ a.name }}</b>
                            </div>
                            <div class="float-right" style="cursor: pointer;" @click="selectedA = a" data-toggle="modal" data-target="#aDetails">
                                <i class="fas fa-cog" style="color: black;"></i>
                            </div>
                        </center>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <legend style="color: black;">
                                {{ a.balance }}
                                <p class="subnote">
                                    Account balance
                                </p>
                            </legend>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-white bg-empty mb-3 mx-auto empty" style="max-width: 75%; height: 8em;">
                    <div class="card-body mx-auto" style="cursor: pointer;" @click="selectedA = []" data-toggle="modal" data-target="#aDetails">
                        <div class="container centered">
                            <b class="card-text align-middle centered" style="color: black">+ Create Account | Pot</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Modal for financial account create/show/edit -->
    <div class="modal fade bd-example-modal-lg" id="aDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="carousel-item" v-bind:class="accounts.indexOf(selectedA) !== 0 ? '' : 'active'">
                    <div class="card text-white mb-3 mx-auto" v-bind:class="'bg-' + selectedA.color" style="max-width: 90%; height: 8em; margin-top: 1em;">
                        <div class="card-header">
                            <center>
                                <div class="float-left">
                                    <b style="color: black;">{{ selectedA.name }}</b>
                                </div>
                            </center>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <legend style="color: black;">
                                    {{ selectedA.balance }}
                                    <p class="subnote">
                                        Account balance
                                    </p>
                                </legend>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
    
                            <!-- table with params -->
                            <div>
                                <table class="table">
                                    <tbody id="create-edit-modal">
                                        <tr>
                                            <td style="width: 100%;">
                                                <label for="accountName">Account name</label>
                                                <input type="string" class="form-control" aria-describedby="accountHelp" placeholder="My Main Account" v-model="selectedA.name">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100%;">
                                                <label for="color">Color</label>
                                                <br>
                                                <select class="custom-select custom-select-lg" v-model="selectedA.color">
                                                    <option value="primary">primary</option>
                                                    <option value="secondary">secondary</option>
                                                    <option value="success">success</option>
                                                    <option value="danger">danger</option>
                                                    <option value="warning">warning</option>
                                                    <option value="info">info</option>
                                                    <option value="light">light</option>
                                                    <option value="dark">dark</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100%;">
                                                <label for="disabledTextInput">Balance</label>
                                                <input type="disabledTextInput" class="form-control" aria-describedby="valueHelp" placeholder="0.00" v-model="selectedA.balance" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100%;">
                                                <label for="date">Date of inseption</label>
                                                <input type="string" class="form-control" aria-describedby="transactioHelp" v-bind:placeholder="new Date()" v-model="selectedA.created_at" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100%;">
                                                <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-dismiss="modal">
                                                    <i class="fas fa-cloud-upload-alt"></i> Upload transactions in .csv</button>
                                                <small class="form-text text-muted">You can easily upload all your transactions to your current <b>{{ selectedA.name }}</b> account in .csv format. <a href="">Download sample file</a></small><br>
                                                <button type="button" class="btn btn-outline-danger btn-lg btn-block">Delete Account</button>
                                                <br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg btn-block" data-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Wallet Transactions List -->
<div class="bd-callout bd-callout-warning">
    <div id="transactions">
        <div v-for="(groupedTransactions, date) in transactionsByDate">
            <div class="transactionDate">{{ date }}</div>
            <table class="table">
                <tbody id="entrydata">
                    <tr v-for="t in groupedTransactions" @click="selectedT = t" data-toggle="modal" data-target="#tDetails" style="cursor: pointer;">
                        <td style="width: 10%;">
                            <img :src="'img/t_categories/' + t.category_icon" style="height: 1.5em;">
                        </td>
                        <td style="width: 60%;">
                            <b>{{ t.name }}</b>
                        </td>
                        <td style="text-align: right; width: 20%;">
                            <span v-if="t.amount >= 0" class="badge badge-pill badge-success">{{ t.amount }}</span>
                            <span v-if="t.amount < 0" class="badge badge-pill badge-info">{{ t.amount }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal for transaction edit -->
        <div class="modal fade bd-example-modal-lg" id="tDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <table class="table table-borderless">
                        <tbody id="entrydata">
                            <tr>
                                <td style="width: 10%;">
                                    <img :src="'img/t_categories/' + selectedT.category_icon" style="height: 1.5em;">
                                </td>
                                <td style="width: 60%;">
                                    <b>{{ selectedT.name }}</b>
                                </td>
                                <td style="text-align: right; width: 20%;">
                                    <span v-if="selectedT.amount >= 0" class="badge badge-pill badge-success">{{ selectedT.amount }}</span>
                                    <span v-if="selectedT.amount < 0" class="badge badge-pill badge-info">{{ selectedT.amount }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <!-- table with params -->
                                <div>
                                    <table class="table">
                                        <tbody id="create-edit-modal">
                                            <tr>
                                                <td style="width: 100%;">
                                                    <label for="transactionName">Transaction name</label>
                                                    <input type="string" class="form-control" aria-describedby="transactioHelp" placeholder="#Pizza @Dominos w/ friends"
                                                        v-model="selectedT.name">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%;">
                                                    <label for="value">Amount</label>
                                                    <input type="value" class="form-control" aria-describedby="valueHelp" placeholder="-00.00" v-model="selectedT.amount">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%;">
                                                    <label for="date">Date</label>
                                                    <input type="string" class="form-control" aria-describedby="transactioHelp" placeholder="friends, camping, fire" v-model="selectedT.date">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%;">
                                                    <label for="tags">#Tags (separate with comma)</label>
                                                    <input type="string" class="form-control" aria-describedby="transactioHelp" placeholder="friends, camping, fire"
                                                        v-model="selectedT.tags">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%;">
                                                    <center>
                                                        <button data-toggle="button" style="width: 30%;" type="button" class="btn btn-outline-info" v-for="c in categories">
                                                            <img :src="'img/t_categories/' + c.icon" style="height: 2em;">
                                                            <p>{{ c.name }}</p>
                                                        </button>
                                                    </center>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%;">
                                                    <button  @click="deleteT(selectedT)" type="button" class="btn btn-outline-danger btn-lg btn-block" data-dismiss="modal">Delete Transaction</button>
                                                    <br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success btn-lg btn-block" data-dismiss="modal">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
</br>

<!-- Navigation Buttons -->
<nav id="navbar" class="navbar fixed-bottom navbar-light bg-light">
    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
        <a class="btn btn-outline-primary" href="./index.html" role="button"><i class="fas fa-home"></i></a>
        <a class="btn btn-outline-primary" href="#" role="button"><i class="fas fa-chart-pie"></i></a>
        <a class="btn btn-outline-primary" href="#" role="button"><i class="fas fa-flag-checkered"></i></a>
        <a class="btn btn-outline-primary" href="#" role="button" @click="createT"><i class="fas fa-plus-square"></i></a>
    </div>
</nav>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
<script src="js/transactions.js"></script>
<script src="js/financial_accounts.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</body>
</html>
